%body
  #container
    .payment-container
      %h2 Payment Form

      - if flash[:error]
        .alert.alert-danger
          %h4= flash[:error]

      = form_with url: charges_path do |f|
        .form-group
          = f.label :amount, "Amount"
          = f.number_field :amount, class: 'form-control', id: 'amount', min: 0, placeholder: 'Enter your amount in $', required: true

        .form-group
          = f.label :card_number, "Credit Card Number"
          = f.text_field :card_number, class: 'form-control', id: 'cardNumber', placeholder: '0000 0000 0000 0000', required: true

        .form-group
          = f.label :month, "Month"
          = f.text_field :month, class: 'form-control', id: 'ccmonth', placeholder: 'MM', required: true

        .form-group
          = f.label :year, "Year"
          = f.text_field :year, class: 'form-control', id: 'ccyear', placeholder: 'YY', required: true

        .form-group
          = f.label :cvc, "CVV/CVC"
          = f.text_field :cvc, class: 'form-control', id: 'cvv', placeholder: '123', required: true

        %button.btn.btn-success{ type: "submit" } Continue

        = link_to root_path, class: 'btn btn-danger' do
          %i.mdi.mdi-lock-reset
          Reset

  - if flash[:notice]
    .alert.alert-success= flash[:notice]
  - if flash[:alert]
    .alert.alert-danger= flash[:alert]
