
= form_with url: charges_path do |f|
  .card-header
    %strong Credit Card
    %small enter your card details

  .card-body
    .form-group
      %label{for: "amount"} Amount
      = f.text_field :amount, class: 'form-control', id: 'amount', min: 0, placeholder: 'Enter your amount in $'

    .form-group
      %label{for: "ccnumber"} Credit Card Number
      = f.text_field :card_number, class: 'form-control', id: 'cardNumber', placeholder: '0000 0000 0000 0000'

    .form-group
      %label{for: "ccmonth"} Month
      = f.text_field :month, class: 'form-control', id: 'ccmonth', placeholder: 'MM'

    .form-group
      %label{for: "ccyear"} Year
      = f.text_field :year, class: 'form-control', id: 'ccyear', placeholder: 'YY'

    .form-group
      %label{for: "cvv"} CVV/CVC
      = f.text_field :cvc, class: 'form-control', id: 'cvv', placeholder: '123'

  .card-footer
    = button_to charges_path, class: 'btn btn-sm btn-success float-right' do
      %i.mdi.mdi-gamepad-circle
      = " Continue"
    = link_to main_game_screen_path, class: 'btn btn-sm btn-secondary' do
      %i.mdi.mdi-arrow-left
      = " Back"
    = link_to shard_purchase_path, class: 'btn btn-sm btn-danger' do
      %i.mdi.mdi-lock-reset
      = " Reset"

