!!!
%html
  %head
    %title Shards of the Grid
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    - unless controller_name == 'sessions' && action_name == 'create'
      %header
        %h1.title.centered-title Shards of the Grid

    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield

    - unless controller_name == 'sessions' && action_name == 'create'
      %footer.footer-centered
        %p &copy; #{Time.now.year} Shards of the Grid
