!!!
%html{ lang: "en", "data-theme": session[:theme] || "dark" }
  %head

    %title Shards of the Grid

    = csrf_meta_tags
    = csp_meta_tag
    = javascript_importmap_tags
    = action_cable_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
  %body
    = yield



